@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    background-color: dimgray;
    font-family:  'Koulen', cursive;
    height: 100%;
    width: 100%;
}
/*
------------------------ NAV ----------------------------------------------
*/
.menu{
    width: 90vw;
    margin: 0 auto;
}
header{
    background-color: black;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}
img{
    width: 120px;
    height: 50px;
    float: left;
    padding: 8px;
}

nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 25px;
    padding: 15px 0;
    float: left;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
}
nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: rgb(255, 4, 4);
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
}
nav ul li a:hover:before{
    width: 100%;
}
/*
------------------------ buscador ----------------------------------------------
*/
.container{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
input{
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid red;
    transition: all .7s ease;
}
::placeholder{
    color: gray;
}
.btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    background: red;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.btn i{
    font-size: 25px;
    color: black;
    line-height: 80px;
    transition: all .7s ease;
}
.container:hover input{
    width: 350px;
}
.container:hover i{
    transform: rotate(-360deg);
}
.btn:hover{
    background: red;
}

/*
------------------------ Cards----------------------------------------------
*/

.container-list{
    margin-top: 50vh;
    margin: 50vh auto 0px 90px;
    height: 100vh;
    width: 90vw;
}
.list-container{
    margin: 0 auto;
    display: flex;
    width: 90%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.cards{
    height: 280px;
    width: 190px;
    border: 5px solid red;
    border-radius: 18px;
    margin: 10px 10px;
    text-align: center;
    list-style: none;
    background-color: red;
    align-items: center;
}

.image-container{
    height: 80%;
    width: 100%;
    padding: 9px;
}
.description-container{
    margin: 0 auto;
    width: 95%;
    height: 17%;
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(97, 5, 5);

}
.description-container h1{
    font-size: 100%;
    color: aliceblue;
    width: 100%;
    height: 100%;

}
.card-image{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 3px solid black;
    border-radius: 15px;
}
/*
-----------------------MEDIA-------------------
*/
@media screen and (max-width: 740px) {
    nav ul li{
        list-style: none;
        margin-left: 25px;
        padding: 5px 0;
        float: left;
        position: relative;
    }


.cards{
    height: 200px;
    width: 170px;
    border: 5px solid red;
    border-radius: 18px;
    margin: 10px 10px;
    text-align: center;
    list-style: none;
    background-color: red;
    align-items: center;
}

.container{
    position: absolute;
    left: 48%;
    top: 35%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.container-list{
    margin-top: 50vh;
    margin: 50vh auto 0px auto;
    height: 100vh;
    width: 90vw;
}

}

@media screen and (max-width: 480px) {
    
    img{
        width: 100px;
        height: 50px;
        float: left;
        padding: 8px;
    }
    .container{
        position: absolute;
        left: 48%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }

    .cards{
        height: 200px;
        width: 200px;
        border: 5px solid red;
        border-radius: 18px;
        margin: 10px 10px;
        text-align: center;
        list-style: none;
        background-color: red;
        align-items: center;
    }
    .description-container h1{
        font-size: 100%;
        color: aliceblue;
        width: 100%;
        height: 100%;
    
    }

    .container-list{
        margin-top: 50vh;
        margin: 20vh auto 0px 50px;
        height: 100vh;
        width: 90vw;
        align-items: center;
    }
    .container{
        position: absolute;
        left: 48%;
        top: 25%;
        transform: translate(-50%, -50%);
        padding: 10px;
    } 
}
/*
@media screen and (max-width: 360px) {
    nav ul li{
        list-style: none;
        font-size: 10px;
        float: left;
        position: relative;
    }
    img{
        width: 70px;
        height: 50px;
        float: left;
    }
    .container{
        position: absolute;
        left: 48%;
        transform: translate(-50%, -50%);
        padding: 10px;
    }
}